* {
  margin: 0px;
  font-family: 'Dosis', helvetica;
}

header {
  background: #2c3e50;
  padding: 10px;
}

header a h1 {
  text-align: right;
  color: #2ecc71;
  letter-spacing: 2px;
  background: #2c3e50;
}

#titleLink {
  text-decoration:none;
  background: #2c3e50;
  padding: 0px;
}

nav a {
  font-size: 25px;
  text-decoration: none;
  color: white;
  float: left;
  padding-right: 20px;
  letter-spacing: 2px;
  background: #2c3e50;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: white;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  color: #484848;
  font-style: Helvetica;
  font-weight: bold;
  text-align: center;
}

.mainCard {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: white;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  color: #484848;
  font-style: Helvetica;
  font-weight: bold;
  text-align: center;
  margin-right: 25%;
  margin-left: 25%;
}

.mainCardAbout {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: white;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  color: #484848;
  font-style: Helvetica;
  font-weight: bold;
  text-align: center;
  margin-right: 25%;
  margin-left: 25%;
  font-size: 150%;
}

.card:hover {box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);}

.container {padding: 2px 16px;}

hr {
    height: 1px;
    color: lightgrey;
}
